body {
  color: white;
  font-family: 'Inter', sans-serif;
}

.button {
  background-color: #082552;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {border-radius: 12px;}

#content-desktop {display: block;}
#content-mobile {display: none;}


@media screen and (max-width: 500px){
#content-desktop {display: none;}
#content-mobile {display: block;}
